*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@keyframes girar 
{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

.eng1, .eng2, .eng3, .eng4, .eng5{
	position: relative;
	animation-name: girar;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.eng2, .eng3, .eng5{
	animation-direction: reverse;

}
.eng1{
	left:50px;
	font-size: 245px;
	animation-duration: 2s;
}

.eng2{
	left:30px;
	top: 100px;
	font-size: 180px;
	animation-duration: 1.8s;

}

.eng3{
	left:-400px;
	top: 90px;
	font-size: 100px;
	animation-duration: 2.5s;
}

.eng4{
	left:-350px;
	top: 200px;
	font-size: 145px;
	animation-duration: 1.5s;
}

.eng5{
	left:-360px;
	top: 200px;
	font-size: 85px;
	animation-duration: 3s;
}